Dear Sir/Madam,

Thank you for your query regarding Wingmaze Education.  This is an automated reply from Wingmaze Education. 

Please allow 1-2 working days for a reply to your query.

Information about our education services may be found at: http://www.wingmazeeducation.com

 
Kind regards,
Wingmaze Education


Wingmaze Education
2/2 McFarlane Street
Merrylands
NSW 2160
E-mail: contact@wingmazeeducation.com