!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title 1.Our Methods
    %link{:href => "stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wraper
      #header
        .header_top
          %a{:href => "#"}
        .header_menu
          %ul
            %li
              %a{:href => "#"} Our Methods
            %li
              %a{:href => "#"} Testimonials
            %li
              %a{:href => "#"} Teachers
            %li
              %a{:href => "#"} Location
            %li
              %a{:href => "#"} Contact
          .clr
        .clr
      #content
        .content_top
          %p
            Welcome to Wingmaze Education - Exceptional teachers.  Exceptional tuition.  Exceptional results.
            %sup TM
            %br/
            We are Sydney’s Education Experts:
        .content_mid
          .content_mid_left
            .teacher
              .teacher_top
                %h3 Teacher Quality
              .teacher_mid
                %ul
                  %li Wingmaze teachers are specialists
                  %li
                    All teachers have obtained a PhD, are
                    becoming doctors, or have decades of
                    teaching experience
                  %li
                    All teachers know the importance of
                    results, how to achieve them, and are
                    determined our students do the same
              .teacher_bottom
            .teacher2
              .teacher2_top
                %h3 Small Class Sizes
              .teacher2_mid
                %ul
                  %li
                    Wingmaze restricts class size to a
                    maximum of 6 students
                %p Having the best tutors would be of little use if we herded as many students as possible into a classroom. Many tutoring centres follow this practice, robbing students of the individual attention they deserve.
                .clr
              .teacher2_bottom
            .clr
          .content_mid_right
            .subject
              .subject_top
                %h3 Subjects
              .subject_mid
                %p Wingmaze provides expert tuition for:
                %ul
                  %li K - 6 (Mathematics, English)
                  %li Year 7-10 (Mathematics, English, Science)
                  %li Year 11 and HSC
                  %li.forth_li
                    %ul
                      %li Mathematics (General, 2U, 3U, 4U)
                      %li Science (Physics, Chemistry, Biology)
                      %li English (Std, Adv)
                  %li
                    University Bridge courses
                    %span (Chemistry, Biology, Physics)
              .subject_bottom
              .clr
            .subject
              .subject_top
                %h3 Personalised Learning
              .subject2_mid
                %ul
                  %li
                    Wingmaze is ideal for all types of students
                    We provide:
                %p
                  \- Foundation courses for struggling students
                  %br/
                  \- Acceleration courses for advanded students
                  %br/
                  \- Schoolwork assistance
              .subject_bottom
              .clr
            .clr
          .clr
        .content_bottom
          %p A free trial lesson is available. Visit our contact page to send an inquiry.
        .clr
      .clr
