!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title Location
    %link{:href => "css/stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wraper
      #header
        .header_top
          %a{:href => "#"}
        .header_menu
          %ul
            %li
              %a{:href => "#"} Our Methods
            %li
              %a{:href => "#"} Testimonials
            %li
              %a{:href => "#"} Teachers
            %li
              %a{:href => "#"} Location
            %li
              %a{:href => "#"} Contact
          .clr
        .clr
      #content
        .content_top
          %p
            Wingmaze Education is located at Suite 2, 2 McFarlane Street Merrylands, 2160.
            %br/
            We are conveniently situated near Merrylands train station and has an onsite carpark.
        .mape
          %img{:alt => "#", :src => "images/mape.png"}/
        .clr
      .clr
