!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title 1.Our Methods
    %link{:href => "css/stylesheet.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #wraper
      #header
        .header_top
          %a{:href => "#"}
        .header_menu
          %ul
            %li
              %a{:href => "#"} Our Methods
            %li
              %a{:href => "#"} Testimonials
            %li
              %a{:href => "#"} Teachers
            %li
              %a{:href => "#"} Location
            %li
              %a{:href => "#"} Contact
          .clr
        .clr
      #content
        .content_top
          %p &nbsp;
        .head
          .head_top
          .head_mid
            .head_mid_inner
              %h4 Head of English
              %img{:alt => "#", :src => "images/Teachers_photo.png"}/
              .clr
            .clr
          .head_bottom
        .head
          .head_top
          .head_mid
            .head_mid_inner
              %h4 Head of Science
              %img{:alt => "#", :src => "images/Teachers_photo.png"}/
              .clr
            .clr
          .head_bottom
        .head
          .head_top
          .head_mid
            .head_mid_inner
              %h4 Head of Mathematics
              %img{:alt => "#", :src => "images/Teachers_photo.png"}/
              .clr
            .clr
          .head_bottom
        .head
          .head_top
          .head_mid
            .head_mid_inner
              %h4 Head of English
              %img{:alt => "#", :src => "images/Teachers_photo.png"}/
              .clr
            .clr
          .head_bottom
        .clr
      .clr
