%p Wingmaze Education is a new and ambitious tutoring centre than prides itself on employing the best tutors.

%p Wingmaze employee benefits include <b>superior pay</b>, <b>regular work</b>, and being part of a <b>highly motivated team</b>.

%p 
  If you want to join our rapidly growing team, send your <b>CV</b> and <b>contact details</b> to 
  =mail_to "contact@wingmazeeducation.com", nil, :replace_dot => '_dot_', :replace_at => '_at_'

%p Please note that you must list relevant tutoring experience to be considered.