%p Welcome to Wingmaze Education - all our tutors achieved an ATAR of of over 99, and we want our students to do the same!

%p Wingmaze is a truly unique education centre for the following reasons:

%h2 Tutor Quality
%p 
  %ul
    %li All tutors achieved an ATAR of over 99
    %li All have PhDs or are becoming doctors
    %li All tutors are gifted teachers

%p We have an exceptionally qualified team of tutors. We understand the importance of results and know how to achieve them.

%h2 Subjects
%p 
  Wingmaze provides expert tuition for
  %ul
    %li K - 6 (Mathematics, English)
    %li Year 7-10 (Mathematics, English, Science)
    %li Year 11 and HSC
    %li{:id => 'next'} Mathematics (General, 2U, 3U, 4U)
    %li{:id => 'next'} Science (Physics, Chemistry, Biology)
    %li{:id => 'next'} English (Std, Adv)
    %li University
    %li{:id => 'next'} Bridge courses (chemistry, biology, physics)
    %li{:id => 'next'} Online Essay Marking

%h2 Small Class Sizes
%p We restrict class sizes to a maximum of 5 students 

%p Having the best tutors would be of little use if we herded as many students as possible into a classroom. Many tutoring centres follow this practice, robbing students of the individual attention they deserve
 
%h2 Resources and Materials

%p Each week students receive a handout compiled by Wingmaze that comprehensively covers the syllabus for a given topic. There are many questions to ensure students understand a topic thoroughly, giving them the confidence to succeed in exams.

%h2 Free Trial Lesson

%p 
  A free trial lesson is available
  %br
  To book, call 0413 933 645, or E-mail 
  = mail_to "contact@wingmazeeducation.com",nil, :replace_at => "_at_", :replace_dot => "_dot_"

%h2 Unleash your ambition!