%p Wingmaze Education is located at Suite 2, 2 McFarlane Street Merrylands, 2160.

%p It is conveniently situated near Merrylands train station and has an onsite carpark.

%p
  <iframe width="550" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.au/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=2+McFarlane+Street,+Merrylands,+New+South+Wales&amp;sll=-33.835765,150.99082&amp;sspn=0.009892,0.020471&amp;vpsrc=6&amp;g=2+McFarlane+St,+Merrylands+New+South+Wales+2160&amp;ie=UTF8&amp;hq=&amp;hnear=2+McFarlane+St,+Merrylands+New+South+Wales+2160&amp;ll=-33.82736,150.992661&amp;spn=0.024955,0.047207&amp;z=14&amp;output=embed"></iframe>
  <br />
  <a href="http://maps.google.com.au/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=2+McFarlane+Street,+Merrylands,+New+South+Wales&amp;sll=-33.835765,150.99082&amp;sspn=0.009892,0.020471&amp;vpsrc=6&amp;g=2+McFarlane+St,+Merrylands+New+South+Wales+2160&amp;ie=UTF8&amp;hq=&amp;hnear=2+McFarlane+St,+Merrylands+New+South+Wales+2160&amp;ll=-33.82736,150.992661&amp;spn=0.024955,0.047207&amp;z=14" style="color:#0000FF;text-align:left", target="_blank">View Larger Map</a>