%p Wingmaze Education students benefit from our unique learning system that ensures they <b>thoroughly understand</b> course material, <b>maximising their marks</b> in the process.

%h2 Teachers

%p We have recruited the best teachers, who have a superb understanding of all course material. Teachers clearly and patiently explain course material using outstanding notes compiled by Wingmaze Education.

%h2 Syllabus Booklets

%p Each week students receive booklets prepared by Wingmaze Education, which comprehensively cover each aspect of the syllabus. These are accompanied by complementary question booklets.

%h2 Question Booklets

%p Each week students also receive question booklets prepared by Wingmaze Education, which test student understanding of a topic. These questions familiarise students with questions they are likely to face in an exam, giving them the confidence and understanding they need to succeed in exams.

%h2 Free 1-on-1 Workshops

%p If students still have any questions about course material, they may book a FREE 1-on-1 workshop. These lessons involve ONLY the student and tutor, allowing the student to ask any question about course material, ensuring students sit their exams with maximum confidence and understanding.