%p Wingmaze Education provides the best tuition at competitive rates.

%h2 Discounts
%p 10% discount applies when paying for a 10 week term in full, with a single payment prior to the commencement of lessons.

%p
  %strong $100 referral discount 
  applies when a student currently enrolled for a term refers a new student to Wingmaze, who subsequently enrols for a term.  $100 will be deducted for 
  %strong each 
  student referred, until tuition prices for the term are covered.