%p Wingmaze Education provides the best tuition at competitive rates.  Contact us for more information.

%p= image_tag "Pricelist_website.png", {:alt => "Wingmaze Education pricelist", :border => '2'}