.content_top
  %p &nbsp;
.head
  .head_top
  .head_mid
    .head_mid_inner
      %h4 Head of English
      %img{:alt => "#", :src => "images/Teachers_photo.png"}/
      .clr
    .clr
  .head_bottom
.head
  .head_top
  .head_mid
    .head_mid_inner
      %h4 Head of Science
      %img{:alt => "#", :src => "images/Teachers_photo.png"}/
      .clr
    .clr
  .head_bottom
.head
  .head_top
  .head_mid
    .head_mid_inner
      %h4 Head of Mathematics
      %img{:alt => "#", :src => "images/Teachers_photo.png"}/
      .clr
    .clr
  .head_bottom
.head
  .head_top
  .head_mid
    .head_mid_inner
      %h4 Head of English
      %img{:alt => "#", :src => "images/Teachers_photo.png"}/
      .clr
    .clr
  .head_bottom
.clr
.clr
