%table
  %tr
    %th Year
    %th Subject
    %th Weekday
    %th Time
  %tr
    %td{:rowspan => "2"} K/1
    %td{:rowspan => "2"} English
    %td Monday
    %td 4:30-5:30
  %tr
    %td Friday
    %td 5:30-6:30
  %tr
    %td{:rowspan => "2"} K/1
    %td{:rowspan => "2"} Maths
    %td Monday
    %td 5:30-6:30
  %tr
    %td Friday
    %td 4:30-5:30
  %tr
    %td 2
    %td English
    %td Friday
    %td 4:30-5:30
  %tr
    %td 2
    %td Maths
    %td Friday
    %td 5:30-6:30
  %tr
    %td 3
    %td Maths
    %td Monday
    %td 4:30-5:30
  %tr
    %td 3
    %td English
    %td Monday
    %td 5:30-6:30
  %tr
    %td{:rowspan => "2"} 4
    %td{:rowspan => "2"} English
    %td Tuesday
    %td 4:30-5:30
  %tr
    %td Thursday
    %td 5:30-6:30
  %tr
    %td{:rowspan => "2"} 4
    %td{:rowspan => "2"} Maths
    %td Tuesday
    %td 5:30-6:30
  %tr
    %td Thursday
    %td 4:30-5:30
  %tr
    %td{:rowspan => "2"} 5
    %td{:rowspan => "2"} English
    %td Tuesday
    %td 5:30-6:30
  %tr
    %td Wednesday
    %td 4:30-5:30
  %tr
    %td{:rowspan => "2"} 5
    %td{:rowspan => "2"} Maths
    %td Tuesday
    %td 4:30-5:30
  %tr
    %td Wednesday
    %td 5:30-6:30
  %tr
    %td{:rowspan => "2"} 6
    %td{:rowspan => "2"} English
    %td Monday
    %td 6:30-7:30
  %tr
    %td Thursday
    %td 4:30-5:30
  %tr
    %td{:rowspan => "2"} 6
    %td{:rowspan => "2"} Maths
    %td Thursday
    %td 5:30-6:30
  %tr
    %td Friday
    %td 6:30-7:30
  %tr
    %td{:rowspan => "2"} 7
    %td{:rowspan => "2"} English
    %td Tuesday
    %td 6:30-7:30
  %tr
    %td Wednesday
    %td 5:30-6:30
  %tr
    %td{:rowspan => "2"} 7
    %td{:rowspan => "2"} Maths
    %td Wednesday
    %td.xl74 6:30-7:30
  %tr
    %td Thursday
    %td 6:30-7:30
  %tr
    %td 8
    %td Maths
    %td Wednesday
    %td 4:30-5:30
  %tr
    %td{:rowspan => "2"} 8
    %td{:rowspan => "2"} English
    %td Tuesday
    %td 7:30-8:30
  %tr
    %td Wednesday
    %td 6:30-7:30
  %tr
    %td{:rowspan => "2"} 9
    %td{:rowspan => "2"} Maths
    %td Monday
    %td 6:30-7:30
  %tr
    %td Friday
    %td 7:30-8:30
  %tr
    %td{:rowspan => "2"} 9
    %td{:rowspan => "2"} English
    %td Thursday
    %td 6:30-7:30
  %tr
    %td Friday
    %td 6:30-7:30
  %tr
    %td{:rowspan => "2"} 10
    %td{:rowspan => "2"} Maths
    %td Tuesday
    %td 6:30-7:30
  %tr
    %td Saturday
    %td 11.00-12.00
  %tr
    %td 10
    %td English
    %td Saturday
    %td 10.00-11.00
  %tr
    %td 10
    %td Science
    %td Saturday
    %td 12.00-1.00
  %tr
    %td{:rowspan => "2"} 11
    %td{:rowspan => "2"} Maths Gen
    %td Saturday
    %td 9.00-10.00
  %tr
    %td Sunday
    %td 1.30-2.30
  %tr
    %td{:rowspan => "2"} 11
    %td{:rowspan => "2"} Maths 2U
    %td Saturday
    %td 9.00-10.00
  %tr
    %td Sunday
    %td 10.00-11.00
  %tr
    %td{:rowspan => "2"} 11
    %td{:rowspan => "2"} Maths 3U
    %td Saturday
    %td 2.00-3.00
  %tr
    %td Sunday
    %td 9.00-10.00
  %tr
    %td 11
    %td English Adv
    %td Saturday
    %td 3.00-4.00
  %tr
    %td 11
    %td English Std
    %td Saturday
    %td 4.00-5.00
  %tr
    %td{:rowspan => "2"} 11
    %td{:rowspan => "2"} Physics
    %td Saturday
    %td 1.00-2.00
  %tr
    %td Sunday
    %td 12.00-1.00
  %tr
    %td{:rowspan => "2"} 11
    %td{:rowspan => "2"} Chemistry
    %td Saturday
    %td 2.00-3.00
  %tr
    %td Sunday
    %td 1.00-2.00
  %tr
    %td 11
    %td Biology
    %td Sunday
    %td 2.00-3.00
  %tr
    %td 12
    %td Maths Gen
    %td Saturday
    %td 10.00-11.00
  %tr
    %td{:rowspan => "2"} 12
    %td{:rowspan => "2"} Maths 2U
    %td Saturday
    %td 5.00-6.00
  %tr
    %td Sunday
    %td 12.30-1.30
  %tr
    %td 12
    %td Maths 3U
    %td Sunday
    %td 11.00-12.30
  %tr
    %td 12
    %td Maths 4U
    %td Sunday
    %td 2.30-4.00
  %tr
    %td 12
    %td English Std
    %td Saturday
    %td 11.00-12.30
  %tr
    %td 12
    %td English Adv
    %td Saturday
    %td 12.30-2.00
  %tr
    %td{:rowspan => "2"} 12
    %td{:rowspan => "2"} Physics
    %td Saturday
    %td 3.00-4.30
  %tr
    %td Sunday
    %td 9.00-10.30
  %tr
    %td{:rowspan => "2"} 12
    %td{:rowspan => "2"} Chemistry
    %td Saturday
    %td 4.30-6.00
  %tr
    %td Sunday
    %td 10.30-12.00
  %tr
    %td 12
    %td Biology
    %td Sunday
    %td 3.00-4.30
