- title "New enquiry form"
%p Please do not hestitate to contact Wingmaze Education. You can fill in the form below with your contact details and a description of your enquiry.

.form-style
  %h2 Enquiry Form
  #button
    = render 'form'

