- title "Contact"
.content_top2
  %p Please do not hestitate to contact Wingmaze Education. You can fill in the form below with your contact details and a description of your enquiry.
.contact
  .contact_top
  .contact_mid
    .contact_ineer
      = render 'form'
    .clr
  .contact_bottom
.thankyou
  %p Thank you for your enquiry, we will be in contact with you shortly.
.thankyou2
  %p Please fill in the requied information.
.clr
.clr