!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= title || "Wingmaze Education - Unleash your ambitions!" 
    =stylesheet_link_tag "stylesheet"
    =stylesheet_link_tag "screen"
    =javascript_include_tag "jquery"
    =javascript_include_tag "easySlider1.7"
    =javascript_tag '$(document).ready(function(){$("#slider").easySlider({auto: true, continuous: true,numeric: true});});'
  %body
    #wraper
      #header
        .header_top
          %a{:href => "#"}
        .header_menu
          %ul
            %li
              =link_to "Our Methods", root_path
            %li
              =link_to "Testimonials", testimonials_path
            %li
              =link_to "Teachers", teachers_path
            %li
              =link_to "Location", location_path
            %li
              =link_to "Contact", contact_path
          .clr
        .clr
      #content
        = yield